{% load static %}
{% block content %}
<html op="item">
  <head>
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="favicon.ico">
    <title>Ask HN: {{submit.title}} | Hacker News</title>
  </head>
  <body>
    <center>
      <table id="hnmain" width="85%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f6f6ef">
  <tbody>
    <tr>
      <td bgcolor="#ff6600">
        <table style="padding:2px" width="100%" cellspacing="0" cellpadding="0" border="0">
          <tbody>
            <tr>
              <td style="width:18px;padding-right:4px">
                <a href="/">
                  <img src="https://news.ycombinator.com/y18.gif" width="18" height="18" style="border:1px #ffffff solid">
                </a>
              </td>
              <td style="line-height:12pt; height:10px;">
                <span class="pagetop">
                  <b class="hnname"><a href="/">Hacker News</a></b>
                  <a href="/">welcome</a> |
                  <a href="/new">new</a> |
                  <a href="front">past</a> |
                  <a href="newcomments">comments</a> |
                  <a href="/ask">ask</a> |
                  <a href="show">show</a> |
                  <a href="jobs">jobs</a> |
                  <a href="/submit">submit</a>
                </span>
              </td>
              <td style="text-align:right;padding-right:4px;">
                <span class="pagetop">
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr id="pagespace" title="{{submit.title}}" style="height:10px"></tr>
    <tr>
      <td>
        <table class="fatitem" border="0">
        <tbody>
          <tr class="athing" id="22747669">
            <td class="title" valign="top" align="right">
              <span class="rank"></span>
            </td>
            <td class="votelinks" valign="top">
              <center>
                <a id="up_22747669" onclick="return vote(event, this, &quot;up&quot;)" href="vote?id=22747669&amp;how=up&amp;auth=5db82f973f742dab6d5c8aea9972eb5045a08841&amp;goto=item%3Fid%3D22747669">
                <div class="votearrow" title="upvote"></div>
              </a>
            </center>
          </td>
          <td class="title">
            {% if submit.text %}
            <a href="/item/{{submit.id}}" class="storylink">Ask HN: {{submit.title}}</a>
            {% else %}
            <a href="{{submit.url}}" class="storylink">{{submit.title}}</a>
            <span class="sitebit comhead"> (<a href="{{submit.path}}"><a href="{{submit.url}}">{{submit.path}}</a>)</span>

          </td>
          {% endif %}
        </tr>
        <tr>
          <td colspan="2"></td>
          <td class="subtext">
          <span class="score" "{{submit.likes}}">{{submit.likes}}</span> by
          <a href="/user/{{submit.author.id}}" class="hnuser">{{submit.author}}</a>
          <span class="age"><a href="/item/{{submit.id}}"> {{submit.date_added | timesince }} ago </a></span>
          <span id="unv_22747669"></span> |
          <a href="/">hide</a> |
          <a href="/" class="hnpast">past</a> |
          <a href="/">web</a> |
          <a href="/">favorite</a> |
          <a href="/">comments</a>
        </td>
      </tr>
      <tr style="height:2px"></tr>
      <tr>
        <td colspan="2"></td>
        <td>{{submit.text}}</td>
      </tr>
        <tr style="height:10px"></tr>
        <tr><td colspan="2"></td>
          <td>
          <form method="post" action="">
            {% csrf_token %}
            {{form.as_p}}
            <br>
            <br>
            <span class="subtext">If you haven't already, would you mind reading about HN's
              <a href="newswelcome.html"><u>approach to comments</u></a>
            and <a href="newsguidelines.html"><u>site guidelines</u></a>?
          </span>
            <br>
            <br>
            <input type="submit" value="add comment">
          </form>
      </td>
    </tr>
  </tbody>
</table>
<br>
<br>
<tr>
<td>
{% if listacomments %}
{% for comment in listacomments %}
<tbody>
  <tr class="athinf comtr ">
    <td>
    <table border="0">
      <tbody>
        <tr>
          <td class="ind">
            <img src="s.gif" width="0" height="1">
          </td>
          <td class="votelinks" valign="top">
            <center>
              <a id="up_22753553" onclick="return vote(event, this, &quot;up&quot;)" href="">
                <div class="votearrow" title="upvote"></div>
              </a>
            </center>
          </td>
          <td class="default">
            <div style="margin-top:2px; margin-bottom:-10px;">
              <span class="comhead">
                <a href=/?path="{{comment.author}}" class="hnuser">{{comment.author}}</a>
                <span class="age"><a href="">{{comment.date_added | timesince }} ago</a></span>
                <span id="unv_22753553"></span>
              </span>
            </div>
            <br>
            <div class="comment">
              <span class="commtext c00">{{comment.text}}</span>
                <div class="reply">
                  <p><font size="1">
                  <u><a href="reply?id=22753553&amp;goto=item%3Fid%3D22753415%2322753553">reply</a></u>
                  </font>
                </p>
                </div>
            </div>
          </td>
        </tr>
      </tbody>

    </table>
  </td>

  </tr>
</tbody>
{%endfor%}
{% else %}

<p>There are no comments in the submit.</p>
{% endif %}
</tr>
</tr>
<tr>
  <td>
    <img src="s.gif" width="0" height="10">
    <table width="100%" cellspacing="0" cellpadding="1">
      <tbody>
        <tr>
          <td bgcolor="#ff6600"></td>
        </tr>
      </tbody>
    </table>
    <br>
    <center>
      <span class="yclinks">
          <a href="newsguidelines.html">Guidelines</a>
        | <a href="newsfaq.html">FAQ</a>
        | <a href="mailto:hn@ycombinator.com">Support</a>
        | <a href="https://github.com/HackerNews/API">API</a>
        | <a href="security.html">Security</a>
        | <a href="lists">Lists</a>
        | <a href="bookmarklet.html" rel="nofollow">Bookmarklet</a>
        | <a href="http://www.ycombinator.com/legal/">Legal</a>
        | <a href="http://www.ycombinator.com/apply/">Apply to YC</a>
        | <a href="mailto:hn@ycombinator.com">Contact</a>
      </span>
      <br>
      <br>
      <form method="get" action="//hn.algolia.com/">Search:
          <input type="text" name="q" value="" size="17" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="false">
        </form>
      </center>
    </td>
  </tr>
</tbody>
</table>
</center>
</body>
</html>
{% endblock %}
